# Ignore the virtual environment
env/
/db.sqlite3
.env

# Python bytecode
__pycache__/
*.pyc

# Django migration files (keep init.py)
*/migrations/*
!*/migrations/__init__.py

# IDE files
.vscode/
.idea/

# Log files
*.log